<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description}}"> 
    
	<meta name="author" content="{{ .Site.Params.author | default .Site.Author }}">  
  <!-- <base href="{{ .Site.BaseURL }}"> -->
  <title>{{ if .Title }}{{ .Title }} – {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

  <!-- CSS here -->

</head>
<body>
