<button class="btn btn-sm btn-outline-primary irt-show-all-images mb-1">Show all images</button>
<button class="btn btn-sm btn-outline-primary irt-hide-all-images mb-1">Hide all images</button>
{{ if eq .Params.type "displayall" }}
<button class="btn btn-sm btn-outline-primary irt-print-current mb-1">Print</button>
{{ else }}
<button class="btn btn-sm btn-outline-primary irt-print-current mb-1">Print this page</button>
<a class="btn btn-sm btn-outline-primary mb-1" href="/all#print">Print entire report</a>
{{ end }}
