<div class="irt-image" id="img-{{ .Get "title" | urlize }}" data-target-visible="1">
  <div class="row irt-image-title-container">
    <div class="col-md-9">
      <div class="irt-image-title">{{ .Get "title" }}</div>
    </div>
    <div class="col-md-3 text-right d-print-none">
      <button class="btn btn-sm btn-outline-primary irt-toggle-image" data-target-img="img-{{ .Get "title" | urlize }}">Hide image</button>
    </div>
  </div>
  

  <div class="irt-image-img-container">
    <img class="img-fluid mt-2 irt-image-img" alt="{{ .Get "alt" }}" src="/img/{{ .Get "src" }}">
  </div>
</div>
